<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Get Tim Hired</title>
</head>
<body>
    <div class="container">

        <div th:insert="~{navbar}"></div>

        <div class="row">
            <div class="col-md-12">
                <h1>Get Tim Hired - Jobs Service</h1>
            </div>
            <div class="col-md-12">

                <p>This site was built to get me hired! I'm seeking a backend Java developer role. If you have any
                    leads, please reach out on <a href="https://www.linkedin.com/in/timothy-schimandle/">LinkedIn</a>
                    or <a href="https://github.com/tschiman/gettimhired">GitHub</a>.</p>

                <p>This is the job service code, responsible for the Job objects in the application.</p>

            </div>
        </div>
    </div>
</body>
</html>