<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Signup</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mt-5">Signup</h2>
      <form action="#" th:action="@{/signup}" th:object="${signUpForm}" method="post">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
          <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger responsive-text"></div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="8" required>
          <small class="form-text text-muted">Password must be at least 8 characters long.</small>
          <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger responsive-text"></div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="passwordCopy" name="passwordCopy" placeholder="Password" minlength="8" required>
          <small class="form-text text-muted">Password must be at least 8 characters long.</small>
          <div th:if="${#fields.hasErrors('password')}" th:errors="*{passwordCopy}" class="text-danger responsive-text"></div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Signup</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>